<div class="container">
    <div class="row">
        <h1>Be Green</h1>
    </div>
    <div class="row">
        <h6>Welcome back.</h6>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn-flat green">Log Out</button>
        </form>

        <form action="auth/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn-flat green">Auth Log Out</button>
        </form>
    </div>
</div>