<h1>Be Green</h1>

Welcome back, {{{name}}}.
<form action="/logout?_method=DELETE" method="POST">
<button type="submit">Log Out</button>
</form>

<form action="auth/logout?_method=DELETE" method="POST">
<button type="submit">Auth Log Out</button>
</form>
